@import url('owl-car.css');
@import url('top-nav.css');
@import url('slider.css');
@import url('shiping.css');
@import url('categories.css');
@import url('special-offers.css');
@import url('products.css');
@import url('banner-section.css');
@import url('brands.css');
@import url('footer.css');
@import url('signin.css');
@import url('single-product.css');
@font-face {
    font-family: 'iransans';
    // src: url('../fonts/IRANSansWeb.woff');
    src: url('../fonts/Vazir-Regular.woff');
}

body {
    // font-family: 'iransans';
}

p {
    margin-bottom: 0;
}

.custom-img-fluid {
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .custom-col-xl-3 {
        flex: 0 0 17.9%;
        max-width: 17.9%;
    }
    .custom-col-xl-6 {
        flex: 0 0 64.2%;
        max-width: 64.2%;
    }
}

.custom-text-muted {
    color: #d5d4d4!important;
}

.custom-mb-n23px {
    margin-bottom: -24px;
}

.custom-fs-12 {
    font-size: 12px!important;
}

a {
    text-decoration: unset!important;
    color: unset;
    &:hover {
        color: unset;
    }
}

body {
    background-color: #f8f8f8;
}

.custom-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 3px 0px #0000001a;
    border-radius: 10px;
}

// .container-fluid {
//     .container {
//         background-color: transparent!important;
//         box-shadow: none!important;
//         padding: unset!important;
//         border-radius: 0!important;
//     }
// }

.red-underline {
    border-bottom: 4px solid rgb(220, 53, 69);
    padding-bottom:11px;
}

.select-none{
    user-select: none;
}













/* ===== Scrollbar CSS ===== */

// $scrollbar-thumb:rgb(148, 147, 147);
$scrollbar-thumb:rgb(168 100 106 / 96%);
$scrollbar-track:rgb(255, 255, 255);
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $scrollbar-thumb $scrollbar-track;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: $scrollbar-track;
  }

  *::-webkit-scrollbar-thumb {
    background-color:$scrollbar-thumb;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }